/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2017, 11:09:36 PM
    Author     : Vincent
*/

body {
    background-color: #6666ff;
    color: #f0f0f0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 0px;
    padding: 0px;
    width: 100%;
}

.input {
    background-color: #eeeeee;
    font-weight:  normal;
}

.input:focus {
    background-color: yellow;
    font-weight:  bold;
    color: black;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.error {
    text-align: left;
    font-size: 105%;
    color: #ff0022;
    font-weight: bolder;
    padding-bottom: 0px;
}

.info {
    text-align: left;
    font-size: 105%;
    color: #00cc00;
    font-weight: bolder;
    padding-bottom: 0px;
}

.submit {
    background-color: #6666ff;
    color: #f0f0f0;
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin: 5px;
}

.submit:hover {
    background-color: #668fff;
    color: #444444;
    border-width: 2px;
    padding: 5px;
    margin: 5px;
}

a:link {
    color: yellow;
}

a:visited {
    color: lightgrey;
}

a:hover {
    background-color: #668fff;
    color: white;
}